<h1> All Questions </h1>
<% @questions.each do |question| %>
  <div class = "media">
    <div class = "media-body">
      <h4 class = "media-heading">
<!-- I noticed here I specifically need to not include the = sign -->
      <%
          if question.resolved
            x = "ANSWERED"
          else
            x = "UNANSWERED"
          end%>
        <p><%= link_to "#{question.title}", question%> <%="--   #{x}"%>  </p>
<!-- Can you tell me why I can't add white space to push the answered/unanswered stuff farther along the page? --> 
      </h4>
    </div>
  </div>
  <%end%>
