<h1> Welcome to Bloccit </h1>
<p id="index-title">  This is the home page for Bloccit.</p>

<div class="posts"> Post 1 goes here. </div>
<div class="posts"> Post 2 goes here. </div>
<button class ="social-btn">
  <%= link_to "Follow Band!", "https://www.facebook.com/chetvincentandthebigbend/"%>
</button>
<% # sorry didn't wanna use my social media...
# also I didn't orignally use a 'button,' I used a div class
# doesn't seem to make a ton of difference though. %>
<section>I am the content in a section element. </section>
